.game-title {
  width: 100%;
  padding: 2rem;
  background-color: #EEEEEE;
  color: black;
  text-align: center;
  font-size: 2rem;
}
main {
  margin: auto;
  /* width: 730px; */
}
.board-game {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: calc(700px + (0.3em*14));
  /* height: 400px; */
  padding: 0.5em;
  margin: 1em;
  background-color: #DDDCFF;
}
.card {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 0.3em;
}
.card:hover{
  background-color: grey;
}
.cache {
  display: none;
  width: 100px;
  height: 100px;
  background-color: #AAAAAA;
}
.image {
  width: 100px;
  height: 100px;
  background-color: white;
}
