body {
  background-color: #151111;
    font-family: 'arial', sans-serif;
}

main {
  margin: auto;
  width: calc(600px + (0.3em*18));
}

.game-title {
  width: 100%;
  padding: 2rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: inherit;
}
.game-title h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: inherit;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 0.5em;
}

.board-game {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: calc(600px + (0.3em*16));
  /* height: 400px; */
  padding: 0.5em;
  margin: 1em;
  background-color: white;
}

.card {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 0.3em;
}

.cache {
  width: 100px;
  height: 100px;
  background-color: #0ac3a7;
  background-image: url(../images/ologo.jpg);
  background-size: cover;
}

.cache:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(1,195,168,0.72);
  -moz-box-shadow: 0px 0px 10px 3px rgba(1,195,168,0.72);
  box-shadow: 0px 0px 10px 3px rgba(1,195,168,0.72);
}

.image {
  display: none;
  width: 100px;
  height: 100px;
  background-color: white;
}

.progress {
  width: 560px;
  height: 30px;
  margin: auto;
  margin-top: 15px;
  background-color: #01c3a8;
  color: red;
}

#win-message {
  display: none;
}

.score-div {
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.score-tab {
  margin: auto;
  border: 1px solid red;
  text-transform: uppercase;
  font-family: 'arial', sans-serif;
  padding: 0.2em;
}

.score-tab th {
  background-color: #E0A800;
  border: 1px solid red;
  padding: 0.2em;
}

.score-tab td {
  background-color: white;
  border: 1px solid red;
  padding: 0.2em;
}
